header {
    margin: 200px;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu > ul li a {
    display: block;
    color: black;
    background: #ececed;
    padding: 13px 30px 13px 40px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.menu > ul li {
    border-right: 1px solid gray;
}
.menu > ul li:first-child {
    border-left: gray 1px solid;
}
.menu li a:hover {
    background: indigo;
    color: white;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
.menu li ul {
    position: absolute;
    list-style: none;
    margin-left: -68px;
    display: none;
    text-decoration: none;
}
.menu li > ul li {
    border: 1px solid gray;
    text-align: center;
    min-width: 160px;
    max-width: 160px;
}
.menu li > ul li a:hover {
    padding: 10px;
    background: indigo;
    text-align: center;
}
.menu li:hover > ul {
    display: block;
}
.menu li > ul li ul {
    position: absolute;
    right: -160px;
    top: 45px;
    min-width: 160px;
    max-width: 160px;
}