header {
    margin: 200px;
}
.menu {
    margin: 0;
    padding: 0;
}
.menu > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu > ul li a {
    display: block;
    color: black;
    background: #ececed;
    padding: 13px 30px 13px 40px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.menu > ul li {
    border-right: 1px solid gray;
}
.menu > ul li:first-child {
    border-left: gray 1px solid;
}
.menu li a:hover {
    background: indigo;
    color: white;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}